# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("hello",12,True,12.2)

hello 12 True 12.2

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("hello",12,True,12.2 ,sep=" - ")

hello - 12 - True - 12.2

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
print("hello" ,end=" ")
print(12 , end=" ")
print(False, end=" ")
print(12.2 )

hello 12 False 12.2

4) Can a python print function take no value to print???

In [5]:
# type your answer here
#yes
print()

# TOPIC :Variables

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [31]:
#type your code here
name="Mr. Ahmed"
age=30
profession= "lawyer"
qualification= "bachelor in law"
graduationYear=2005
company='The Himalya Associates'
height = "5.10feets"
weight=70600
monthlyIncome= 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [7]:
#type your code here 
currentYear = 2024
yearSinceGraduation = currentYear - graduationYear
print(yearSinceGraduation)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [9]:
#type your code here 
experience = currentYear - 2015
print(experience)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [29]:
#type your code here 
dollarRate = 278.12
salaryInDollars = monthlyIncome / dollarRate
print(f"""Salary in PKR {monthlyIncome}
Salary in $ {round(salaryInDollars,2)}   
""")

Salary in PKR 200000
Salary in $ 719.11

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [30]:
#type your code here 
print(type(salaryInDollars))
salaryInDollars = int(monthlyIncome / dollarRate)
print(f"""Salary in PKR {monthlyIncome}
Salary in $ {round(salaryInDollars,2)}   
""")

<class 'float'>
Salary in PKR 200000
Salary in $ 719

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [33]:
#type your code here 
print(type(weight))
weightInKg = int(weight / 1000)
print(weightInKg)

<class 'int'>
70

print the year of birth of Mr. Ahmed.

In [35]:
#type your code here
birthYear = currentYear - 30
print("birth year ===> " + str(birthYear))

birth year ===> 1994

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [37]:
#type your code here
100 % 6
#no

4

# Topic: User input

13) Take students detail as user input on console. Like 
name 
father name 
contact
email
Course
Address
Days 
Timings 
And print a formatted id card of student 


                                 Saylani Mass IT Training Program
                                 _________________________________
                                         Bahdurabad Campus (HO)
                    Student Name: Abdullah Khan
                    Father Name : Amanullah Khan
                    Course      : Data Science and Artificial Intelligence 
                    Days        : Monday & Thursday 
                    Timings     : 7pm - 10pm
                    Email       : abdullah_khan@gmail.com
                    Contact     : 1234567890
                    Address     : Flat 201, Roha Arcade, CA
                    
                    
                    Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

In [38]:
stdName = input("Enter Student Name:")
fatherName = input("Enter Father Name:")
course = input("Enter Course Name:")
days =  input("Enter Days:")
timings = input("Enter Timings:")
email = input("Enter Email:")
contact = input("Enter Contact:")
address= input("Enter Address:")

print(f"""
                         Saylani Mass IT Training Program
                         _________________________________
                                 Bahdurabad Campus (HO)
            Student Name: {stdName}
            Father Name : {fatherName}
            Course      : {course}
            Days        : {days}
            Timings     : {timings}
            Email       : {email}
            Contact     : {contact}
            Address     : {address}
            
            
            Saylani Welfare International Trust Head Office (Bahadurabad Karachi)
""")

Enter Student Name: Fahad
Enter Father Name: Shahzad
Enter Course Name: Python Programming
Enter Days: Tues & Thurs
Enter Timings: 7pm - 9pm
Enter Email: fahad@gmail.com
Enter Contact: 12341234
Enter Address: Landhi 2

                         Saylani Mass IT Training Program
                         _________________________________
                                 Bahdurabad Campus (HO)
            Student Name: Fahad
            Father Name : Shahzad
            Course      : Python Programming
            Days        : Tues & Thurs
            Timings     : 7pm - 9pm
            Email       : fahad@gmail.com
            Contact     : 12341234
            Address     : Landhi 2


            Saylani Welfare International Trust Head Office (Bahadurabad Karachi)

# Topic : Operators and Expression with ambiguity

14 ) What is the output of print(2 * 3 ** 3 * 4)

a) 216
b )864

In [39]:
print(2 * 3 ** 3 * 4)

216

15 ) What is the output of the expression  print(-18 // 4)
a) -4
b)  4
c) -5
d)  5

In [42]:
print(-18 // 4)

-5

16) 
x = 6
y = 2
print(x ** y)
print(x // y)


a) 66
   0
    
b) 36
   0
    
c) 66
    3
    
d)  36
    3

In [43]:
x = 6
y = 2
print(x ** y)
print(x // y)

36
3

17)
What is the output of print(10 - 4 * 2)

 a) 2
 
 
 b) 12

In [44]:
print(10 - 4 * 2)

2

18 ) What is the output of print(2%6)

 a) ValueError
 b) 0.33
 c) 2

In [45]:
print(2%6)

2

19) What is the value of the following Python Expression

  print(36 / 4)

 a) 9.0
 b) 9

In [48]:
print(36 / 4)

9.0

20 ) In the Python statement x = a + 5 - b:

a and b are ________
a + 5 - b is ________


a) operators, a statement


b) operands, an expression

c) terms, a group


d) operands, an equation

In [ ]:
b) operands, an expression

21) Should you use the == operator to determine whether objects of type float are equal?


Sure! Go for it.


Nope, not a good idea.

Nope, not a good idea.

22 ) What is the value of the expression 1 + 2 ** 3 * 4?

a) 33


b) 36


c) 108


d) 4097

In [51]:
 1 + 2 ** 3 * 4

33